@charset "UTF-8";
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Regular"), local("Overpass-Regular"), url("../fonts/overpass-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Regular"), local("Overpass-Regular"), url("../fonts/overpass-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face {
  font-family: 'Overpass';
  font-style: bold;
  font-weight: 600;
  src: local("Overpass Regular"), local("Overpass-Regular"), url("../fonts/overpass-latin-600.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face {
  font-family: 'Overpass';
  font-style: bolder;
  font-weight: 700;
  src: local("Overpass Regular"), local("Overpass-Regular"), url("../fonts/overpass-latin-700.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.colordigihell {
  background-color: #d4eefa; }

.colordigihell h2 {
  color: #00a6e7; }

.personaimg img {
  border-radius: 50%; }

.persona {
  padding: 0.0%; }

.imgleft {
  padding-left: 0px;
  padding-right: 15px; }

.imgright {
  padding-left: 15px;
  padding-right: 0px; }

.landingpage-cover-img {
  background-image: url(../images/regio-banner.jpg);
  background-size: cover;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: no-repeat; }

@media screen and (max-width: 768px) {
  .landingpage-cover-img {
    background-size: auto;
    background-position-y: 40%;
    background-position-x: 70%; } }

.home.page-template.page-template-page-landing-relative.bg-image-unset {
  background-image: unset !important; }

.page-template-page-landing-relative.bg-image-unset .welcome h1 {
  color: grey !important; }

.rowmenu div {
  padding: 0px !important; }

.ladingnav {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  z-index: 1; }

.welcome {
  padding-bottom: 40%; }

.wp-video {
  margin: 0 !important; }

.section-heading {
  margin-top: 6%; }

.section-infos {
  margin-top: 10%; }

.introtext {
  font-size: 1.2em;
  margin-bottom: 5%; }

.intro-video {
  display: none;
  padding-top: 5%; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent; }

.videorow {
  background-color: #d4eefa; }

.btn-link {
  color: #00a6e7; }

.col-xs-12.col-sm-7.col-md-7.col-lg-7.persona {
  padding: 0px; }

.personarow {
  background-color: #ebf7fd;
  /*$secondary-color-dark;  $color-light-grey;*/ }

.persona img {
  margin-bottom: 0px !important;
  padding: 0px; }

.persona {
  padding: 0.8%; }

.personatext {
  font-size: 1.2em; }

@media screen and (max-width: 768px) {
  .personaimg img {
    max-height: 18em; } }

@media screen and (max-width: 1300px) {
  .personarow .colordigihell {
    min-height: 410px; } }

@media screen and (min-width: 1400px) and (max-width: 1464px) {
  .personarow .colordigihell {
    min-height: 260px; } }

@media screen and (max-width: 767px) {
  .welcome p {
    background: rgba(255, 255, 255, 0.4); } }

html {
  height: 100%; }

body {
  font-family: Overpass, helvetica, arial, verdana;
  height: 100%;
  display: none; }

#allcontent {
  min-height: 100%; }

.entry-title {
  display: none; }

.navbar {
  border-bottom: 1px solid lightgrey;
  background-color: rgba(255, 255, 255, 0.2); }

.navbar .dropdown-menu {
  background-color: white; }

.navbar li a,
.dropdown-menu li a {
  color: black !important; }

.navbar li a:hover,
.navbar .dropdown-menu .dropdown-item:hover,
.navbar li.menu-item-text-underlined a,
.navbar li a.menu-item-text-underlined {
  text-decoration: underline;
  text-decoration-thickness: 0.3em;
  text-underline-offset: 0.3em;
  text-decoration-color: #036e98;
  background-color: unset; }

.navbar li a:active,
.dropdown-menu li a:active {
  text-decoration-color: #db0050 !important;
  background-color: unset !important; }

.navbar a.nav-link {
  padding-left: 1rem !important;
  padding-right: 1rem !important; }

.navbar-brand {
  padding-top: 5px;
  display: flex;
  flex-grow: 1; }

.navbar-brand img {
  margin: 0;
  padding: 0; }

p, ul:not(form ul), ol:not(form ul) {
  font-size: 1.2rem; }

h1, h2, h3, h4 {
  font-family: Overpass, helvetica, arial, verdana; }

.btn {
  font-family: helvetica; }

.schriftgroesse {
  font-size: 1.2rem;
  font-family: Overpass, helvetica, arial, verdana; }

h4 {
  margin-top: 15px;
  margin-bottom: 5px; }

.text-color-black {
  color: black; }

h1 {
  color: #777; }

h2, h3:not(.exer h3, .info h3, .alert h3), h4:not(.exer h4, .info h4, .alert h4) {
  color: #00a6e7; }

.alert h1, .alert h2, .alert h3, .alert h4, .alert h5 {
  color: inherit; }

.schriftgroesse textarea {
  font-size: 1.0em; }

.schriftgroesse input {
  font-size: 1.0em; }

.schriftgroesse p,
.font-size-small,
.navbar-nav,
.widget_nav_menu ul,
.ui-sortable {
  font-size: 1em !important; }

.content-area {
  margin-bottom: 10em; }

#footer-container {
  position: relative;
  width: 100%;
  min-height: 281px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2em; }

#menu-footer li {
  float: left; }

#menu-footer a {
  padding: 0;
  margin-right: 1em;
  color: black; }

#menu-footer p,
.footer-font-color {
  color: black !important; }

.lektion-progress {
  background-color: #00a6e7; }

.percent-value {
  color: #00a6e7; }

.lektionliste li {
  border-color: #00a6e7;
  border-radius: 0.313em; }

.listheader {
  color: #00a6e7 !important; }

.listitem:hover .listheader,
.listitem:hover .percent-value {
  color: #00a6e7 !important; }

.listitem:hover .lektion-progress {
  background-color: #00a6e7; }

.lektionliste li:hover {
  background-color: #ebf7fd; }

button.navbar-toggle {
  border: solid 1px #db0050;
  border-radius: 0.313em;
  background-color: transparent; }

.navbar-toggle .icon-bar {
  position: relative;
  transition: all 300ms ease-in-out; }

.navbar-toggle.active .icon-bar:nth-of-type(1) {
  top: 9px;
  transform: rotate(45deg);
  background-color: #db0050; }

.navbar-toggle.active .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.navbar-toggle.active .icon-bar:nth-of-type(3) {
  top: -9px;
  transform: rotate(-45deg);
  background-color: #db0050; }

img {
  margin-bottom: 20px; }

a.mejs-horizontal-volume-slider.mejs-mute {
  display: table !important; }

.wp-video {
  margin-bottom: 20px; }

.bildbreite {
  width: 100%; }

.keineinzug {
  margin-left: 0;
  padding-left: 1em;
  text-indent: none; }

.abstand {
  padding: 10px; }

.abstand-rechts {
  margin-right: 1.2em; }

.padding-rechts {
  padding-right: 1.2em; }

.bildhoehe {
  padding-top: 5px; }

.rowabstand {
  margin-top: 2em; }

.keinabstand {
  margin: 0px;
  padding: 0px; }

.keinabstandoben {
  margin-top: 0px;
  padding-top: 0px; }

.oben30 {
  margin-top: 3em; }

.nomarginbottom {
  margin-bottom: 0px !important; }

.marginbottom10 {
  margin-bottom: 1em !important; }

.marginbottom20 {
  margin-bottom: 2em !important; }

.accordeon-font .card,
.accordeon-font .panel,
.card.ts-accordion {
  margin-bottom: 1em !important; }

/***********Trainings Overview Table ***********/
.card.lesson-card a i {
  color: #00a6e7 !important; }

.card-body.lesson-card .progress-bar,
.ts-tile-body .progress-bar {
  background-color: #00a6e7; }

/************************************** Accordion *************************************************/
.accordion-inner {
  background-color: #d4eefa;
  padding: 0.625em;
  border-radius: 0.313em;
  color: black; }

.company-table,
.company-table-single,
.company-table-gesamt,
.company-table-group,
.company-table-groupresult {
  color: black; }

.panel a {
  color: #00a6e7; }

.panel h4 {
  color: #00a6e7;
  margin-top: 0; }

.plus, .minus {
  font-size: 1.2rem;
  color: #00a6e7; }

.form-frame textarea,
.form-frame input {
  border: solid 2px #00a6e7; }

.ts-icon {
  display: block;
  text-align: center !important;
  background-color: #db0050;
  max-width: 2em;
  padding: 0.5em;
  border-radius: 100%;
  display: flex;
  justify-content: center; }

.ts-icon-small {
  font-size: 1.5em; }

.ts-icon-medium {
  font-size: 3em; }

.ts-icon-large {
  font-size: 4em; }

.alert {
  border-radius: 0.313em !important; }

.alert.alert-info {
  background-color: #b8d9f3;
  border-color: #b8d9f3;
  color: #15507e; }

i.fa-volume-up {
  font-size: 2.0em;
  color: black; }

.icon-info {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  border: solid 2px;
  border-radius: 100%;
  color: #00a6e7; }

.icon-info::before {
  content: "\f129";
  margin-left: 37%; }

.icon-exer {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  border: solid 2px;
  border-radius: 100%;
  color: #db0050; }

.icon-exer::before {
  content: "\f024";
  margin-left: 18%; }

.inlineblock {
  display: inline-block; }

.exer, .exer-radio {
  background-color: #db00504f;
  padding: 0.625em;
  border-radius: 0.313em;
  margin-bottom: 20px;
  color: #db0050; }

.exercise .exercise-header {
  background-color: #db00504f; }

.exercise .card-header h3 .badge {
  color: #db0050;
  border: 2px solid #db0050;
  padding: .25em !important; }

.info, .info-radio {
  background-color: #d4eefa;
  padding: 0.625em;
  border-radius: 0.313em;
  margin-bottom: 20px;
  color: #00a6e7; }

.exer h3,
.info h3,
.exer h4,
.info h4 {
  margin-bottom: 0;
  margin-top: 0; }

.exer .icon-exer ~ h3 {
  color: #db0050;
  padding-left: 35px;
  clear: none; }

.exercise .card-header h3 {
  color: #db0050; }

.info .icon-info ~ h3 {
  color: #00a6e7;
  padding-left: 35px;
  clear: none; }

.exer .icon-exer ~ h4 {
  margin-top: 2px;
  color: #db0050;
  padding-left: 35px;
  clear: none; }

.info .icon-info ~ h4 {
  margin-top: 2px;
  color: #00a6e7;
  padding-left: 35px;
  clear: none; }

.info .icon-info ~ p {
  margin-top: 3px;
  color: #00a6e7;
  padding-left: 35px; }

.exer .icon-exer ~ p {
  margin-top: 3px;
  color: #db0050;
  padding-left: 35px; }

.info-radio p {
  margin-top: 7px;
  margin-bottom: 5px; }

.exer-radio p {
  margin-top: 7px;
  margin-bottom: 5px; }

.info-radio img {
  margin-bottom: 0px; }

.link {
  display: flex; }

.link i.fas {
  margin: auto 0 auto 0; }

.link a {
  color: inherit; }

a {
  color: #db0050; }

a:hover {
  color: #a8003d; }

.link a:hover {
  color: inherit; }

.link p {
  padding-left: 1em;
  margin: 0px; }

.framing {
  border: solid 1px black;
  border-radius: 0.313em;
  padding: 10px; }

.tborder, .tborder tr, .tborder td, .tborder th {
  border: 1px solid black;
  padding: 10px; }

.border_only {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: "Comic Sans MS"; }

/*1.info in table:*/
.table > tbody > tr.info > td:not(.large-list),
.table-striped:not(.large-list) > tbody > tr:nth-of-type(odd) {
  background-color: #d4eefa !important; }

.accordion-inner table.table-striped tbody tr td {
  border-top: 1px solid #00a6e7; }

.accordion-inner table.table-striped thead th {
  border-bottom: 2px solid #00a6e7; }

.accordion-inner table.table-striped thead tr:nth-child(1) th {
  border-top: 0; }

th, td {
  padding-top: 5px;
  padding-bottom: 5px; }

.active-item {
  color: #00a6e7; }

.tablecheck .ninja-forms-all-fields-wrap .label-left ul li {
  float: left !important;
  padding: 10px;
  list-style-type: none; }

.tablecheck .label-left {
  border: solid 1px;
  border-radius: 5px;
  border-color: #00a6e7;
  padding: 5px; }

.info-radio .mejs-container, .info-radio .fa-volume-up {
  margin-bottom: 0px; }

.info-radio .row .fas.fa-volume-up {
  display: flex;
  align-items: baseline;
  font-size: 1.8em;
  padding: 0.3em 0.2em; }

a.paging {
  color: black !important;
  text-decoration: none !important; }

.paging a:hover {
  color: black !important;
  text-decoration: none !important; }

.paging.btn.unvisited {
  background-color: #ebf7fd !important;
  border-color: #ebf7fd !important; }

.paging.btn.unvisited:hover {
  background-color: #bde5f7 !important;
  border-color: #bde5f7 !important; }

.paging.btn.visited {
  background-color: #a6dcf5 !important;
  border-color: #a6dcf5 !important; }

.paging.btn.visited:hover {
  background-color: #79caef !important;
  border-color: #79caef !important; }

.pagebuttons .pagenavigation .btn.paging .userfeedback-loading {
  height: 100%;
  display: flex;
  align-items: center; }

.pagebuttons .pagenavigation .btn.paging .userfeedback-loading i {
  margin: 0 auto;
  font-size: 1.2rem; }

.currentpage {
  border-bottom: 2px solid black; }

.btn.btn-secondary.btn.paging-circle.unvisited,
.btn.btn-secondary.btn.paging-bar.unvisited {
  background-color: unset !important;
  border-width: 2px; }

.btn.btn-secondary.btn.paging-circle.unvisited:active,
.btn.btn-secondary.btn.paging-bar.unvisited:active {
  border-color: #d4eefa; }

.btn.btn-secondary.paging-circle.visited,
.btn.btn-secondary.paging-bar.visited {
  background-color: #d4eefa;
  border-color: #d4eefa; }

.btn.btn-secondary.paging-circle.visited:active,
.btn.btn-secondary.paging-bar.visited:active {
  background-color: #d4eefa;
  border-color: #d4eefa; }

.btn.btn-secondary.paging-circle-current,
.btn.btn-secondary.paging-bar-current {
  background-color: #79caef !important;
  border-color: #79caef !important; }

.btn.btn-secondary.paging-circle-current:active,
.btn.btn-secondary.paging-bar-current:active {
  background-color: #79caef !important;
  border-color: #79caef !important; }

.btn.btn-secondary.paging-circle-current:hover,
.btn.btn-secondary.paging-bar-current:hover {
  background-color: #4bb8ea !important;
  border-color: #4bb8ea !important; }

.bullet {
  background-color: #777;
  border-color: #777; }

.bullet-filled {
  background-color: #00a6e7;
  border-color: #00a6e7; }

button:focus {
  outline: none !important;
  outline: none !important; }

.btn {
  border-radius: 0.313em !important; }

.primary-color {
  color: #00a6e7 !important; }

.secondary-color {
  color: #d4eefa !important; }

.highlight-color {
  color: #db0050 !important; }

.primary-bg-color {
  background-color: #00a6e7 !important; }

.secondary-bg-color {
  background-color: #d4eefa !important; }

.highlight-bg-color,
.page-item.active .page-link,
.carousel-indicators .active,
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #db0050 !important; }

.highlight-border-color {
  border-color: #db0050 !important; }

.primary-border-color {
  border-color: #00a6e7 !important; }

.secondary-border-color {
  border-color: #d4eefa !important; }

.btn-success {
  background-color: red; }

.border {
  border-radius: 0.313em !important; }

ul.pagination .page-link {
  color: black;
  border-color: #dee2e6 !important; }

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:disabled {
  background-color: #00a6e7 !important;
  border-color: #00a6e7;
  color: #fff !important; }

.btn-primary:hover {
  background-color: #036e98 !important;
  border-color: #036e98;
  color: #fff !important; }

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: #d4eefa !important;
  border-color: #d4eefa;
  color: inherit !important; }

.btn-info,
.btn-info:focus,
.btn-info:active {
  background-color: #db0050 !important;
  border-color: #db0050 !important;
  color: #fff; }

.btn-link {
  color: #00a6e7; }

.btn-link:hover,
.btn-link h3:hover,
.btn-link:focus {
  color: #036e98 !important;
  text-decoration: none; }

.submitbutton {
  background-color: #a6dcf5; }

.btn-secondary:hover,
.submitbutton:hover {
  background-color: #a6dcf5 !important;
  border-color: #a6dcf5;
  color: inherit;
  /*color: white;*/ }

.btn-info:hover {
  background-color: #8f0034 !important;
  border-color: #8f0034 !important;
  color: #fff; }

.minusmultibutton {
  background-color: #d4eefa !important;
  border-color: #d4eefa !important; }

.minusmultibutton:hover {
  background-color: #036e98 !important;
  border-color: #036e98;
  color: white !important; }

.addmultibutton,
.addmultibutton:active,
.addmultibutton:visited,
.addmultibutton:focus {
  background-color: #838383 !important;
  border-color: #838383;
  color: white !important; }

.addmultibutton:hover {
  background-color: #6a6a6a !important;
  border-color: #6a6a6a;
  color: white !important; }

.slider.slider-horizontal .slider-track {
  height: 8px !important;
  background-color: #F2F2F2;
  background-image: unset; }

.slider-selection:not(.slider-red, .slider-yellow, .slider-green, .slider_custom_color) {
  background-color: #00a6e7 !important; }

.slider .slider-handle:not(.slider_custom_color) {
  background: #fff !important;
  border: 5px solid #00a6e7 !important; }

/* Visual Input TS-Forms Scale */
.visualInput-numberboxes {
  border: none !important;
  background-color: #00a6e7;
  color: white;
  border-radius: 0.373em; }

.visualInput-numberboxes:hover {
  background-color: #036e98;
  border: solid 1px #036e98; }

.visualInput-numberboxes input[type=radio]:checked + label {
  background-color: #db0050 !important;
  border-color: #db0050 !important;
  border-radius: 0.313em; }

.white {
  color: white !important; }

.panel-heading .accordion-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
  margin-top: -40px; }

.panel-heading .accordion-toggle.collapsed:after {
  content: "\e080"; }

.image img {
  margin-bottom: 0px !important; }

.directstart {
  float: left; }

.mylist {
  background-color: #d4eefa !important;
  color: black; }

.add-lektionen-wrap {
  background-color: #00a6e7 !important; }

.morelessons {
  background-color: #a6dcf5;
  border-radius: 0.313em !important; }

.checkautotraining {
  display: inline-flex; }

.checkautotraining .label-body ul {
  padding-left: 5px; }

.checkautotraining .radio-label {
  border: solid 1px #00a6e7;
  border-radius: 0.313em;
  padding: 0.3em;
  margin-right: 0.5em;
  display: block;
  float: left;
  cursor: pointer;
  background-color: #a6dcf5; }

.checkautotraining .radio-label:last-of-type {
  margin-right: 0em !important; }

.checkautotraining .radio-label:hover {
  border: solid 1px #777; }

.checkautotraining .label-body {
  font-size: 0.7em;
  display: block;
  line-height: 1.2em; }

.checkautotraining .label-head {
  display: block;
  margin-bottom: 0.1em;
  font-size: 0.9em;
  font-weight: 600; }

.checkautotraining .radio-element {
  display: none; }

.checkautotraining label:not(.selected):hover {
  -moz-box-shadow: 0 0 5px #777;
  /*highlight-color*/
  -webkit-box-shadow: 0 0 5px #777;
  box-shadow: 0 0 5px #777;
  border-color: #777; }

.checkautotraining .selected {
  -moz-box-shadow: 0 0 5px #db0050;
  /*highlight-color*/
  -webkit-box-shadow: 0 0 5px #db0050;
  box-shadow: 0 0 5px #db0050;
  border-color: #db0050; }

.checkautotraining .info-trainingsmodus {
  font-size: 1.2em;
  cursor: pointer; }

.connectedSortable .ui-state-default {
  background-color: #a6dcf5 !important; }

.ui-state-default {
  border-radius: 0.313em !important; }

.ui-sortable-handle {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.ui-sortable-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

.prog-bar {
  background-color: #00a6e7 !important; }

.prog-bar-container,
.prog-bar-container-lessons {
  background-color: #d4eefa !important; }

.user-detail-box {
  border: solid 1px #d4eefa;
  border-radius: 0.313em !important; }

.box-header {
  background-color: #d4eefa; }

.box-header h4 {
  color: #00a6e7; }

.opacity-0 {
  opacity: 0 !important; }

.opacity-1 {
  opacity: 0.2 !important; }

.opacity-2 {
  opacity: 0.4 !important; }

.opacity-3 {
  opacity: 0.6 !important; }

.opacity-4 {
  opacity: 0.8 !important; }

.opacity-5 {
  opacity: 1 !important; }

@media screen and (max-width: 992px) {
  .navbar ul li {
    font-size: 1.5em;
    padding: 0.5em 0.1em 0.5em 0.1em; }
  .navbar ul li a {
    color: inherit; }
  ul.navbar-nav,
  ul.navbar-nav .dropdown-menu {
    text-align: center !important; }
  .welcome {
    padding-bottom: 10%; }
  .navbar-toggle .icon-bar {
    position: relative;
    transition: all 300ms ease-in-out;
    display: block;
    height: 2px;
    width: 30px;
    margin-bottom: 5px;
    background-color: #db0050; }
  button.navbar-toggle {
    height: 3em; } }

.tspv2_check .orga0,
.tspv2_check .orgarot,
.tspv2_check .orgagelb,
.tspv2_check .orgagrün,
.tspv2_check .privatlebenrot,
.tspv2_check .privatlebengelb,
.tspv2_check .privatlebengrün,
.tspv2_check .privatleben0,
.tspv2_check .gestaltungrot,
.tspv2_check .gestaltunggelb,
.tspv2_check .gestaltunggrün,
.tspv2_check .gestaltung0,
.tspv2_check .umgangrot,
.tspv2_check .umganggelb,
.tspv2_check .umganggrün,
.tspv2_check .umgang0,
.tspv2_check .umgebungrot,
.tspv2_check .umgebunggelb,
.tspv2_check .umgebunggrün,
.tspv2_check .umgebung0,
.tspv2_check .stressrot,
.tspv2_check .stressgelb,
.tspv2_check .stressgrün,
.tspv2_check .selbstkritikrot,
.tspv2_check .selbstkritikgelb,
.tspv2_check .selbstkritikgrün,
.tspv2_check .sorgenrot,
.tspv2_check .sorgengelb,
.tspv2_check .sorgengrün,
.tspv2_check .sleepcarerot,
.tspv2_check .sleepcaregelb,
.tspv2_check .sleepcaregrün,
.tspv2_check .sleepcarerot-schicht,
.tspv2_check .sleepcaregelb-schicht,
.tspv2_check .sleepcaregrün-schicht {
  display: none; }

.tspv2_check #ergebnis,
.tspv2_check #fragen,
.tspv2_check #headline-ergebnis,
.tspv2_check .fragen-thema,
.tspv2_check .feedback-area,
.tspv2_check .generalinfo {
  display: none; }

.tspv2_check .form-group label.ts-forms-label {
  font-size: 1.5em;
  margin-bottom: 1em; }

.tspv2_check #progbar {
  display: none;
  position: relative;
  background-color: #ebf7fd; }

.tspv2_check #progbar-inner {
  width: 0%;
  height: 26px;
  background-color: #a6dcf5;
  z-index: -1; }

.tspv2_check #progbar-numb {
  z-index: 1;
  position: absolute; }

.tspv2_check .selected {
  background-color: #1b535f;
  border-radius: 7px; }

.tspv2_check .selected label {
  color: white; }

.tspv2_check .form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10rem; }

.tspv2_check .form-group .form-check {
  font-size: 0.9em;
  margin-right: 15px;
  border: solid 1px;
  border-radius: 7px;
  float: left;
  padding-left: 0px;
  flex: 1 1 auto; }

.tspv2_check .form-group .form-check:hover {
  background-color: rgba(27, 83, 95, 0.2); }

.tspv2_check .form-group .form-check input {
  display: none; }

.tspv2_check .form-group .form-check:last-child {
  margin-right: 0px; }

.tspv2_check .form-group .form-check-label {
  text-align: center !important;
  font-size: 1.2em !important;
  display: table-cell;
  vertical-align: middle;
  padding: 8% !important;
  margin-bottom: 0% !important;
  margin-top: 0px !important;
  margin-left: 0px !important; }

@media (max-width: 767px) {
  .tspv2_check .form-group .form-check {
    width: 100%;
    margin-bottom: 1em;
    margin-right: 0px !important; }
  .tspv2_check .form-check .form-check-label {
    padding: 6% !important; } }

.tspv2_check .stufe1,
.tspv2_check .stufe2,
.tspv2_check .stufe3,
.tspv2_check .stufe4,
.tspv2_check .isi1,
.tspv2_check .isi2,
.tspv2_check .isi3,
.tspv2_check .pss1,
.tspv2_check .pss2,
.tspv2_check .pss3,
.tspv2_check .ptq1,
.tspv2_check .ptq2,
.tspv2_check .ptq3,
.tspv2_check .audit0,
.tspv2_check .audit1,
.tspv2_check .audit2,
.tspv2_check .audit3,
.tspv2_check .audit4,
.tspv2_check .zeit0,
.tspv2_check .zeitrot,
.tspv2_check .zeitgelb,
.tspv2_check .zeitgrün,
.tspv2_check .kultur0,
.tspv2_check .kulturrot,
.tspv2_check .kulturgelb,
.tspv2_check .kulturgrün,
.tspv2_check .schutz0,
.tspv2_check .schutzrot,
.tspv2_check .schutzgelb,
.tspv2_check .schutzgrün,
.tspv2_check .psybelastung0,
.tspv2_check .psybelastungrot,
.tspv2_check .psybelastunggelb,
.tspv2_check .psybelastunggrün {
  display: none; }

.tspv2_check #beforestart ul {
  padding-left: 25px; }

.tspv2_check .ergebnisrow {
  border-bottom: solid 1px; }

.tspv2_check #next,
.tspv2_check #prev {
  display: none; }

.tspv2_check #fragebogenfrage-isi,
.tspv2_check #fragebogenfrage-pss,
.tspv2_check #fragebogenfrage-ptq,
.tspv2_check #fragebogenfrage-audit {
  display: none; }

.tspv2_check .phq-header {
  color: #1b535f;
  background-color: rgba(146, 185, 192, 0.6);
  padding: 2%; }

.tspv2_check .isi-header {
  color: white;
  background-color: rgba(54, 126, 145, 0.9);
  padding: 2%; }

.tspv2_check .pss-header {
  color: #1b535f;
  background-color: rgba(146, 185, 192, 0.6);
  padding: 2%; }

.tspv2_check .ptq-header {
  color: #e8eff1;
  background-color: rgba(54, 126, 145, 0.9);
  padding: 2%; }

.tspv2_check .audit-header {
  color: #1b535f;
  background-color: rgba(146, 185, 192, 0.6);
  padding: 2%; }

@media (max-width: 767px) {
  .tspv2_check #phq-1 .nf-field-label {
    background-color: rgba(146, 185, 192, 0.6);
    color: #1b535f;
    width: 100%; }
  .tspv2_check #isi-1 .nf-field-label {
    background-color: rgba(54, 126, 145, 0.9);
    color: white;
    width: 100%; }
  .tspv2_check #pss-1 .nf-field-label {
    background-color: rgba(146, 185, 192, 0.6);
    color: #1b535f;
    width: 100%; }
  .tspv2_check #ptq-1 .nf-field-label {
    background-color: rgba(54, 126, 145, 0.9);
    color: white;
    width: 100%; }
  .tspv2_check #audit-1 .nf-field-label {
    background-color: rgba(146, 185, 192, 0.6);
    color: #1b535f;
    width: 100%; }
  .tspv2_check .nf-field-element ul li {
    width: 100%; }
  .tspv2_check .list-radio-wrap .nf-field-element li,
  .tspv2_check .list-checkbox-wrap .nf-field-element li {
    margin-bottom: 3%; }
  .tspv2_check label {
    margin-top: 0.4em;
    margin-bottom: 0.4em; }
  .tspv2_check .nf-field-label {
    padding: 0% 2% 0% 2%; }
  .tspv2_check .nf-field-label {
    margin-bottom: 20px !important; }
  .tspv2_check h1#headline-ergebnis {
    margin-top: 40px; }
  .tspv2_check .nf-field-element ul li {
    height: 45px !important; }
  .tspv2_check .nf-field-element ul li label {
    font-size: 1.2em; }
  .tspv2_check #fragebogenfrage-ptq,
  .tspv2_check #fragebogenfrage-isi,
  .tspv2_check #fragebogenfrage-pss,
  .tspv2_check #fragebogenfrage-phq,
  .tspv2_check #fragebogenfrage-audit {
    margin-bottom: 0px !important;
    font-size: 1.2em !important; }
  .tspv2_check .nf-field-label {
    font-size: 12px; }
  .tspv2_check .nf-field-element ul li:hover {
    background-color: white; } }

.tspv2_check .jolanda_check .form-group .form-check {
  flex: unset !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 100% !important;
  border: solid 2px #db0050; }

.tspv2_check .jolanda_check .form-group .form-check label {
  color: transparent !important;
  width: 100%; }

.tspv2_check .jolanda_check .table td, .tspv2_check .jolanda_check .table th {
  border-top: unset; }

@media (max-width: 767px) {
  .tspv2_check .jolanda_check td,
  .tspv2_check .jolanda_check th,
  .tspv2_check .jolanda_check td h4,
  .tspv2_check .jolanda_check td h5,
  .tspv2_check .jolanda_check td h6 {
    display: block;
    clear: both;
    text-align: center !important; }
  .tspv2_check .jolanda_check td div {
    flex-direction: column; }
  .tspv2_check .jolanda_check .form-group .form-check {
    width: 50px !important;
    height: 50px !important; } }
