.colordigihell {
    background-color: $secondary-background; // $secondary-color; #c8dcdf
}

.colordigihell h2{
  color: $info-font-color;
}

.personaimg img {
    border-radius: 50%;
}

.persona {
    padding: 0.0%;
}

.imgleft {
    padding-left: 0px;
    padding-right: 15px;
}

.imgright {
    padding-left: 15px;
    padding-right: 0px;
}

.landingpage-cover-img{
    background-image:$landingpage-header-img; // url(images/strand.jpg);
    background-size: cover;
    background-position-x: $background-position-x;
    background-position-y: $background-position-y;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .landingpage-cover-img {
        background-size: auto;
        background-position-y: $background-position-y-mobile;
        background-position-x: $background-position-x-mobile;
     }
  }

.home.page-template.page-template-page-landing-relative.bg-image-unset {
    background-image: unset!important;
}

.page-template-page-landing-relative.bg-image-unset .welcome h1{
    color: grey!important;
  }

.rowmenu div {
    padding: 0px!important;
}

.ladingnav {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    z-index: 1;
}

.welcome {
    padding-bottom: 40%;
}

.wp-video {
    margin: 0!important;
}

.section-heading {
    margin-top: 6%;
}

.section-infos {
    margin-top: 10%;
}

.introtext {
    font-size: 1.2em;
    margin-bottom: 5%;
}

.intro-video {
    display: none;
    padding-top: 5%;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.videorow {
    background-color:$secondary-color; // #c8dcdf;
}

.btn-link {
    color: $primary-color; // #367e91;
}

.col-xs-12.col-sm-7.col-md-7.col-lg-7.persona {
    padding: 0px;
}

.personarow {
    background-color: $secondary-color-light; /*$secondary-color-dark;  $color-light-grey;*/ // #F2F2F2;
}

.persona img {
    margin-bottom: 0px!important;
    padding: 0px;
}

.persona {
    padding: 0.8%;
}

.personatext {
    font-size: 1.2em; }

@media screen and (max-width: 768px){
    .personaimg img {
        max-height: 18em;
    }
}

// height fix persona
@media screen and (max-width:1300px) {
    .personarow .colordigihell {
        min-height: 410px;
    }
}

@media screen and (min-width:1400px) and (max-width: 1464px) {
    .personarow .colordigihell {
        min-height: 260px;
    }
}

@media screen and (max-width:767px) {
    .welcome p {
        background: rgba(255, 255, 255, 0.4);
    }
}
