// /*verschiedene Abstufungen der Auswertung verstecken*/
.stufe1,
.stufe2,
.stufe3,
.stufe4,
.isi1,
.isi2,
.isi3,
.pss1,
.pss2,
.pss3,
.ptq1,
.ptq2,
.ptq3,
.audit0,
.audit1,
.audit2,
.audit3,
.audit4,
.zeit0,
.zeitrot,
.zeitgelb,
.zeitgrün,
.kultur0,
.kulturrot,
.kulturgelb,
.kulturgrün,
.schutz0,
.schutzrot,
.schutzgelb,
.schutzgrün,
.psybelastung0,
.psybelastungrot,
.psybelastunggelb,
.psybelastunggrün {
    display: none;
}

// /*Einzug, um bei col-md keinen Rand*/
#beforestart ul {
    padding-left: 25px;
}

.ergebnisrow {
    border-bottom: solid 1px;
}

#next,
#prev {
    display: none;
}

#fragebogenfrage-isi,
#fragebogenfrage-pss,
#fragebogenfrage-ptq,
#fragebogenfrage-audit {
    display: none;
}

// /*Header für die einzelnen Fragebögen*/
.phq-header {
    color: $alt-font-dark;
    background-color: $alt-bg-light;
    padding: 2%;
}

.isi-header {
    color: $alt-font-white;
    background-color: $alt-bg-dark;
    padding: 2%;
}

.pss-header {
    color: $alt-font-dark;
    background-color: $alt-bg-light;
    padding: 2%;
}

.ptq-header {
    color: $alt-font-light;
    background-color: $alt-bg-dark;
    padding: 2%;
}

.audit-header {
    color: $alt-font-dark;
    background-color: $alt-bg-light;
    padding: 2%;
}

// /*Smartphone & Tablet*/

// /*xs----iPhone*/
@media (max-width: 767px) {

    #phq-1 .nf-field-label {
        background-color: $alt-bg-light;
        color: $alt-font-dark;
        width: 100%;
    }

    #isi-1 .nf-field-label {
        background-color: $alt-bg-dark;
        color: $alt-font-white;
        width: 100%;
    }

    #pss-1 .nf-field-label {
        background-color: $alt-bg-light;
        color: $alt-font-dark;
        width: 100%;
    }

    #ptq-1 .nf-field-label {
        background-color: $alt-bg-dark;
        color: $alt-font-white;
        width: 100%;
    }

    #audit-1 .nf-field-label {
        background-color: $alt-bg-light;
        color: $alt-font-dark;
        width: 100%;
    }

    .nf-field-element ul li {
        width: 100%;
    }

    .list-radio-wrap .nf-field-element li,
    .list-checkbox-wrap .nf-field-element li {
        margin-bottom: 3%;
    }

    label {
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }

    .nf-field-label {
        padding: 0% 2% 0% 2%;
    }

    .nf-field-label {
        margin-bottom: 20px !important;
    }

    h1#headline-ergebnis {
        margin-top: 40px;
    }

    .nf-field-element ul li {
        height: 45px !important;
    }

    .nf-field-element ul li label {
        font-size: 1.2em;
    }
    #fragebogenfrage-ptq,
    #fragebogenfrage-isi,
    #fragebogenfrage-pss,
    #fragebogenfrage-phq,
    #fragebogenfrage-audit {
        margin-bottom: 0px !important;
        font-size: 1.2em !important;
    }

    .nf-field-label {
        font-size: 12px;
    }

    .nf-field-element ul li:hover {
        background-color: white;
    }
}

  