// * latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local('Overpass Regular'), local('Overpass-Regular'), url('../fonts/overpass-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
// * latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local('Overpass Regular'), local('Overpass-Regular'), url('../fonts/overpass-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
// * bold */
@font-face {
  font-family: 'Overpass';
  font-style: bold;
  font-weight: 600;
  src: local("Overpass Regular"), local("Overpass-Regular"), url("../fonts/overpass-latin-600.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; 
}  
// * bolder */
@font-face {
  font-family: 'Overpass';
  font-style: bolder;
  font-weight: 700;
  src: local("Overpass Regular"), local("Overpass-Regular"), url("../fonts/overpass-latin-700.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; 
}

// ************************************Imports ***************************************************/
// Landingpage:
@import "style-landingpage-relative.scss";
// ************************************Imports Ende***************************************************/


// ************************************Mixins ***************************************************/
@mixin myicon($color){
    // background-image: $iconpath;
    // background-size: 24px;
    // background-repeat: no-repeat;
    // background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    // padding-bottom: 200px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    border: solid 2px;
    border-radius: 100%;
    color: $color;
}

@mixin mymark($mark-bgcolor,$mark-font-color){
    background-color:  $mark-bgcolor;
    padding: 0.625em;
    border-radius:  $std-border-radius;
    margin-bottom: 20px;
    color: $mark-font-color;
}

@mixin myh3inmark($myh3inmark-color){
    color: $myh3inmark-color;
    padding-left: 35px;
    clear: none;
}

@mixin myh4inmark($myh4inmark-color){
    margin-top: 2px;
    color: $myh4inmark-color;
    padding-left:35px;
    clear: none;
}

@mixin mypinmark($mypinmark-color){
    margin-top: 3px;
    color: $mypinmark-color;
    padding-left:35px;
}

@mixin mypinmarkradio{
    margin-top: 7px;
    margin-bottom: 5px;
}
// ************************************Mixins Ende***************************************************/
html {
  height: 100%;
}

body{
  font-family: $main-font-familiy;
  height: 100%;
  display: none;
}

#allcontent {
  min-height: 100%;
}

.entry-title{
display: none;
}

.navbar {
  border-bottom: 1px solid lightgrey;
  background-color: $navbar-color;
}

.navbar .dropdown-menu {
  background-color: $navbar-dropdown-bg-color;
}

.navbar li a,
.dropdown-menu li a{
  color: $navbar-font-color!important;
}

.navbar li a:hover,
.navbar .dropdown-menu .dropdown-item:hover,
.navbar li.menu-item-text-underlined a,
  .navbar li a.menu-item-text-underlined {
  text-decoration: underline;
  text-decoration-thickness: 0.3em;
  text-underline-offset: 0.3em;
  text-decoration-color: $primary-color-hover;
  background-color: unset;
}

.navbar li a:active,
.dropdown-menu li a:active{
  text-decoration-color:$highlight-color!important;
  background-color: unset!important;
}

.navbar a.nav-link {
  padding-left: 1rem!important;
  padding-right: 1rem!important;
}

.navbar-brand {
  padding-top: 5px;
  display: flex;
  flex-grow: 1; }

.navbar-brand img {
  margin: 0;
  padding: 0;
}
// ************************************Schrift***************************************************/
 p,ul:not(form ul), ol:not(form ul){
  font-size: $main-font-size;
}

h1,h2,h3,h4{
  font-family: $main-font-familiy;
}

.btn{
  font-family: helvetica;
}

// für listen schriftgroesse anpassen:
.schriftgroesse{
  font-size: $main-font-size;
  font-family: $main-font-familiy;
}

h4{
	margin-top: 15px;
  margin-bottom: 5px;
}

.text-color-black{
  color: black;
}

h1{
  color: $color-grey;
}

h2, h3:not(.exer h3, .info h3, .alert h3), h4:not(.exer h4, .info h4, .alert h4){
  color: $primary-color;
}

.alert h1, .alert h2, .alert h3, .alert h4, .alert h5{
  color: inherit;
}

// .accordiontitle i, .accordiontitle {
//   color: $primary-color!important;
// }

// .panel{
//    box-shadow: none;
//    -webkit-box-shadow: none;
//  }
// **************Schriftgrößen-Workaround***********************/
.schriftgroesse textarea {
    font-size: 1.0em;
}

.schriftgroesse input {
    font-size: 1.0em;
}

.schriftgroesse p,
.font-size-small,
.navbar-nav,
.widget_nav_menu ul,
.ui-sortable {
    font-size: 1.0em!important;
}
// ***************Schriftgrößen-Workaround ENDE***************/



// **************************************Schrift Ende*************************************************/


// ************************************Footer***************************************************/
.content-area{
  margin-bottom: 10em;
}

#footer-container {
  position: relative;
  width: 100%;
  min-height: 281px;
  background-color: $footer-color;
  padding: 2em; 
}

#menu-footer li{
    float: left;
}

#menu-footer a{
    padding:0;
    margin-right: 1em;
    color: $footer-font-color;
}

#menu-footer p,
.footer-font-color{
  color: $footer-font-color!important;
}

// ************************************Footer-Ende***************************************************/



// ************************************Lektionliste***************************************************/

.lektion-progress{
   background-color: $primary-color;
  // background-color: $highlight-color;
}

.percent-value{
  color: $primary-color;
}

.lektionliste li{
  border-color: $primary-color;
  border-radius: $std-border-radius;
}

.listheader{
  color: $primary-color!important;
}

.listitem:hover .listheader,
.listitem:hover .percent-value{
  color: $info-font-color!important;
}

.listitem:hover .lektion-progress{
  background-color: $info-font-color;
}

.lektionliste li:hover{
  background-color:$secondary-color-light;
}
// ************************************Lektionliste-Ende***************************************************/


// Burger-to-Cross***************************************************************************************************/

button.navbar-toggle{
  border: solid 1px $navbar-toggle-button-color; 
  border-radius: $std-border-radius;
  background-color: transparent;
  }

.navbar-toggle .icon-bar {
      position: relative;
      transition: all 300ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
      top: 9px;
      transform: rotate(45deg);
      background-color: $navbar-toggle-button-color;
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
      background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
      top: -9px;
      transform: rotate(-45deg);
      background-color: $navbar-toggle-button-color;
}
// Burger-to-Cross Ende**********************************************************************************************/


// *******************Abstände********************/
// Die Breite der GET.ON-Bilder zzgl. Padding ist die Breite des Trainingsteils.


// .row{
//  margin-bottom: 20px;
// }


img{
    margin-bottom: 20px;
}

// .row img{
//    margin-bottom: 0px;
// }

// Bugfix Video im Accordeon
a.mejs-horizontal-volume-slider.mejs-mute {
    display: table!important;
}

.wp-video{
    margin-bottom: 20px;
}

.bildbreite{
 // max-width: 850px;
 width: 100%;
}

.keineinzug{
  margin-left: 0;
  padding-left: 1em;
  text-indent: none;
}

.abstand{
	padding: 10px;
}

.abstand-rechts {
  margin-right: 1.2em;
}

.padding-rechts{
	padding-right: 1.2em;
}

.bildhoehe{
padding-top: 5px;
}

.rowabstand{
  margin-top: 2em;
}

.keinabstand{
	margin: 0px;
	padding: 0px;
}

.keinabstandoben{
  margin-top: 0px;
  padding-top: 0px;
}

.oben30{
  margin-top: 3em;
}

// individuelle Abstände
.nomarginbottom{
  margin-bottom: 0px!important;
}

.marginbottom10{
  margin-bottom: 1em!important;
}

.marginbottom20{
  margin-bottom: 2em!important;
}

// Abstand unter den "kleinen" Schriften zum Ausklappen
.accordeon-font .card,
.accordeon-font .panel,
.card.ts-accordion{
    margin-bottom: 1em!important;
}

// ********************Abstände Ende********************/

// .keinumbruch{
//	display: inline;
//	white-space: nowrap;
// }



  /***********Trainings Overview Table ***********/
  .card.lesson-card a i{
    color: $primary-color!important;
   }

   .card-body.lesson-card .progress-bar,
   .ts-tile-body .progress-bar{
   background-color: $primary-color;
   }
   

/************************************** Accordion *************************************************/
.accordion-inner{
    background-color:$secondary-background; // $secondary-color;
    padding: 0.625em;
    border-radius:  $std-border-radius;
    color: $font-color-in-colored-box;
}

.company-table,
.company-table-single,
.company-table-gesamt,
.company-table-group,
.company-table-groupresult{
  color: black;
}

.panel a{
color:$info-font-color; // $primary-color;
}

.panel h4{
    color: $info-font-color; // $primary-color;
    margin-top: 0;
}

.plus, .minus{
    font-size: $main-font-size;
    color: $primary-color;
}
// ************************************** Accordion-Ende *************************************************/



// **************************************icons und highlights*************************************************/
.form-frame textarea,
.form-frame input{
  border: solid 2px $primary-color;
}

.ts-icon{
  display: block;
  text-align: center!important;
  background-color: $ts-icon-background;
  max-width: 2em;
  padding: 0.5em;
  border-radius: 100%;
  display: flex;
  justify-content: center; 
  }
  
.ts-icon-small{
  font-size: 1.5em;
}

.ts-icon-medium{
  font-size: 3em;
}

.ts-icon-large{
  font-size: 4em;
}


.alert{
  border-radius: $std-border-radius!important;
}

.alert.alert-info{
	background-color: $alert-info-bg-color;
	border-color: $alert-info-border-color;
	color: $alert-info-font-color;
}

i.fa-volume-up{
  font-size: 2.0em;
  // color:$primary-color;
  color: $font-color-in-colored-box;
  }

.icon-info{
  @include myicon ($info-font-color);
}

// info:
.icon-info::before{
    content: "\f129";
    margin-left: 37%;
}

.icon-exer{
  @include myicon ($exer-font-color);
}

// flag:
.icon-exer::before{
    content: "\f024";
    margin-left: 18%;
}

.inlineblock{
  display: inline-block;
}

.exer, .exer-radio{
  @include mymark ($highlight-background, $exer-font-color);
}

.exercise .exercise-header{
  background-color: $highlight-background;
}

.exercise .card-header h3 .badge {
  color: $exer-font-color;
  border: 2px solid $exer-font-color;
  padding: .25em !important;
}

.info, .info-radio{
  @include mymark($secondary-background, $info-font-color);
}

.exer h3, 
.info h3,
.exer h4, 
.info h4{
  margin-bottom: 0;
  margin-top: 0;
}

.exer .icon-exer ~ h3 {
  @include myh3inmark($exer-font-color);
}

.exercise .card-header h3 {
  color: $exer-font-color;
}

.info .icon-info ~ h3{
  @include myh3inmark($info-font-color);
}

.exer .icon-exer ~ h4{
  @include myh4inmark($exer-font-color);
}

.info .icon-info ~ h4{
 @include myh4inmark($info-font-color);
}

.info .icon-info ~ p{
  @include mypinmark($info-font-color);
}

.exer .icon-exer ~ p{
  @include mypinmark($exer-font-color);
}

.info-radio p{
  @include mypinmarkradio;
  // color: $primary-color;
}

.exer-radio p{
  @include mypinmarkradio;
  // color: $primary-color;
}

// zur Einheitlichkeit mit accordion-inner
.info-radio img{
    margin-bottom: 0px;
}
.link{
  display: flex;
}

.link i.fas{
  margin: auto 0 auto 0;
}

.link a {
 color: inherit;
}

a{
  color: $link-color;
}

a:hover{
  color: $link-hover-color;
}

.link a:hover {
 color: inherit;
}

.link p{
  padding-left: 1em;
  margin: 0px;
}

.framing{
  border: solid 1px black;
  border-radius: $std-border-radius;
  padding: 10px;
}

// **************************************icons und highlights Ende*************************************************/

// ***********************************************Tabellen ***********************************/

// ---------------Michael 140218---------------*/
.tborder, .tborder tr, .tborder td, .tborder th{
 border:1px solid black;
 padding: 10px;
}

.border_only {
border: 1px solid black;
border-collapse: collapse;
font-family:"Comic Sans MS";
}
// ---------------------------------------------*/

/*1.info in table:*/
.table>tbody>tr.info>td:not(.large-list),
.table-striped:not(.large-list)>tbody>tr:nth-of-type(odd){
    // background-color: #f2f2f2;
    background-color: $secondary-background!important;
}

.accordion-inner table.table-striped tbody tr td {
  border-top: 1px solid $primary-color;
}

.accordion-inner table.table-striped thead th {
  border-bottom: 2px solid $primary-color;
}

.accordion-inner table.table-striped thead tr:nth-child(1) th {
  border-top: 0;
}

th,td{
padding-top:5px;
padding-bottom:5px;
}

.active-item{
  color: $primary-color;
}
// ***********************************************Tabellen Ende***********************************/


// *******************Tabelle bzw. Fragebogen für z.B. Stimmung103**********************/
.tablecheck .ninja-forms-all-fields-wrap .label-left  ul li {
float: left!important;
padding: 10px;
list-style-type: none;
}

.tablecheck .label-left{
  border: solid 1px;
  border-radius: 5px;
  border-color: $primary-color;
  padding: 5px;
}
// *******************Tabelle bzw. Fragebogen Ende**********************/

// **************Audio******************/
.info-radio .mejs-container, .info-radio .fa-volume-up {
  margin-bottom: 0px; 
}

.info-radio .row .fas.fa-volume-up {
  display: flex;
  align-items: baseline;
  font-size: 1.8em;
  padding: 0.3em 0.2em;
}
// **************Audio Ende******************/



// **************Pagination******************/
a.paging{
    color: $paging-font-color!important;
    text-decoration: none!important;
}

.paging a:hover {
    color: black!important;
    text-decoration: none!important;
}

.paging.btn.unvisited {
    background-color: $check-progress-color-light !important;
    border-color: $check-progress-color-light!important;
}

.paging.btn.unvisited:hover {
    background-color: darken($check-progress-color-light, 10%) !important;
    border-color: darken($check-progress-color-light, 10%) !important;
}

.paging.btn.visited {
    background-color: $check-progress-color-dark !important;
    border-color: $check-progress-color-dark !important;
}

.paging.btn.visited:hover {
    background-color: darken($check-progress-color-dark, 10%) !important;
    border-color: darken($check-progress-color-dark, 10%) !important;
}

.pagebuttons .pagenavigation .btn.paging .userfeedback-loading {
  height: 100%;
  display: flex;
  align-items: center;
}

.pagebuttons .pagenavigation .btn.paging .userfeedback-loading i {
  margin: 0 auto;
  font-size: 1.2rem;
}

.currentpage{
  border-bottom: 2px solid $paging-font-color;
}

.btn.btn-secondary.btn.paging-circle.unvisited,
.btn.btn-secondary.btn.paging-bar.unvisited {
  background-color: unset !important;
  border-width: 2px;
}

.btn.btn-secondary.btn.paging-circle.unvisited:active,
.btn.btn-secondary.btn.paging-bar.unvisited:active {
  border-color: $secondary-background;
}

.btn.btn-secondary.paging-circle.visited,
.btn.btn-secondary.paging-bar.visited {
  background-color: $secondary-background;
  border-color: $secondary-background;
}

.btn.btn-secondary.paging-circle.visited:active,
.btn.btn-secondary.paging-bar.visited:active {
  background-color: $secondary-background;
  border-color: $secondary-background;
}

.btn.btn-secondary.paging-circle-current,
.btn.btn-secondary.paging-bar-current {
  background-color: darken($secondary-background, 20%) !important;
  border-color: darken($secondary-background, 20%) !important;
}

.btn.btn-secondary.paging-circle-current:active,
.btn.btn-secondary.paging-bar-current:active {
  background-color: darken($secondary-background, 20%) !important;
  border-color: darken($secondary-background, 20%) !important;
}

.btn.btn-secondary.paging-circle-current:hover,
.btn.btn-secondary.paging-bar-current:hover {
  background-color: darken($secondary-background, 30%) !important;
  border-color: darken($secondary-background, 30%) !important;
}
// **************Pagination Ende******************/

// **************Gamification-Übersicht******************/
.bullet {
  background-color: $color-grey;
  border-color: $color-grey;
}

.bullet-filled {
  background-color: $primary-color;
  border-color: $primary-color;
}
// **************Gamification-Übersicht Ende******************/



// ********************Buttons ********************/

button:focus {
  outline: none!important;
  outline: none!important;
}

.btn{
  border-radius: $std-border-radius!important;
}

.primary-color{
  color: $primary-color!important;
}

.secondary-color{
  color: $secondary-color!important;
}

.highlight-color{
  color: $highlight-color!important;
}

.primary-bg-color{
  background-color: $primary-color!important;
}

.secondary-bg-color{
  background-color: $secondary-background!important;
}

.highlight-bg-color,
.page-item.active .page-link,
.carousel-indicators .active,
.carousel-control-next-icon, 
.carousel-control-prev-icon {
  background-color: $highlight-color!important;
}

.highlight-border-color{
  border-color: $highlight-color!important;
}

.primary-border-color{
  border-color: $primary-color!important;
}

.secondary-border-color{
  border-color: $secondary-color!important;
}

.btn-success{
  background-color: red;
}

.border {
  border-radius: $std-border-radius!important;
}

ul.pagination .page-link{
  color: black;
  border-color: #dee2e6!important;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:disabled {
  background-color: $primary-color!important;
  border-color: $primary-color;
  color: #fff!important; 
}

 .btn-primary:hover{
  background-color: $primary-color-hover!important;
  border-color: $primary-color-hover;
  color: #fff!important; 
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: $secondary-background!important;
  border-color: $secondary-background;
  color: inherit!important;
}

.btn-info,
.btn-info:focus,
.btn-info:active{
  background-color: $highlight-color!important;
  border-color:  $highlight-color!important;
  color: #fff;
}

.btn-link {
  color: $primary-color;
}
.btn-link:hover,
.btn-link h3:hover,
.btn-link:focus {
  color: $primary-color-hover!important;
  text-decoration: none;
}

.submitbutton{
	background-color:  $secondary-color-dark;
}

.btn-secondary:hover,
.submitbutton:hover{
	  background-color: $secondary-color-dark!important;
    border-color: $secondary-color-dark;
    color: inherit;
  	/*color: white;*/
}

.btn-info:hover{
  background-color: $dark-highlight-color!important;
  border-color:  $dark-highlight-color!important;
  color: #fff;
}

.minusmultibutton{
  background-color: $secondary-background!important;
  border-color: $secondary-background!important;
  // color: $primary-color;
  // height: 34px;
  // vertical-align: top;
  // margin-top: 33px;
}

.minusmultibutton:hover{
  background-color: $primary-color-hover!important;
  border-color: $primary-color-hover;
  color:white!important;
}

.addmultibutton,
.addmultibutton:active,
.addmultibutton:visited,
.addmultibutton:focus{
  background-color: #838383!important;
  border-color: #838383;
  color: white !important;
}

.addmultibutton:hover{
 background-color: darken(#838383, 10%) !important;
 border-color: darken(#838383, 10%);
 color:white!important;
}
// ********************Buttons Ende********************/


.slider.slider-horizontal .slider-track {
  height: 8px !important;
  background-color: $color-light-grey; //hellgrau
  background-image: unset;
}
.slider-selection:not(.slider-red, .slider-yellow, .slider-green, .slider_custom_color) {
  background-color:$primary-color!important;
}
.slider .slider-handle:not(.slider_custom_color) {
  background: #fff !important;
  border: 5px solid $primary-color!important;
}

/* Visual Input TS-Forms Scale */
.visualInput-numberboxes{
    border: none!important;
    background-color: $primary-color;
    // border-color: $primary-color;
    color: $alt-font-white;
    border-radius: $std-border-radius + 0.06;
}

.visualInput-numberboxes:hover{
  background-color: $primary-color-hover;
  border: solid 1px $primary-color-hover;
}

.visualInput-numberboxes input[type=radio]:checked + label{
    background-color: $highlight-color!important;
    border-color: $highlight-color!important;
    border-radius: $std-border-radius;
}

.white{
  color: white!important;
}
// ************Trainingsübersicht****************/
// **Panel-Liste Trainingsübersicht**/
.panel-heading .accordion-toggle:after {
  // symbol for "opening" panels
  font-family: 'Glyphicons Halflings';
  // essential for enabling glyphicon
  content: "\e114";
  // adjust as needed, taken from bootstrap.css
  float: right;
  // adjust as needed
  color: grey;
  // adjust as needed
  margin-top: -40px;
}
.panel-heading .accordion-toggle.collapsed:after {
  // symbol for "collapsed" panels
  content: "\e080";
}

.image img{
  margin-bottom: 0px!important;
}

.directstart{
  float: left;
}


// ************Trainingsübersicht Ende****************/

// ************coach-nutzer-zusammenstellung****************/
.mylist{
  background-color:$secondary-background!important;
  color: $font-color-in-colored-box;
}
// .clear-user-lektion,
// .clear-user-training,
.add-lektionen-wrap {
  background-color: $primary-color!important;
}

.morelessons{
  background-color: $secondary-color-dark;
  border-radius: $std-border-radius!important;
  // color: white;
}

.checkautotraining{
  display: inline-flex;
}

.checkautotraining .label-body ul {
  padding-left: 5px;
}

.checkautotraining .radio-label{
  border: solid 1px $info-font-color;
  border-radius: $std-border-radius;
  padding: 0.3em;
  margin-right: 0.5em;
  display: block;
  float: left;
  cursor: pointer;   
  background-color: $secondary-color-dark;
}

.checkautotraining .radio-label:last-of-type{
  margin-right: 0em!important;
}

.checkautotraining .radio-label:hover{
  border: solid 1px $color-grey;
}

.checkautotraining .label-body{
  font-size: 0.7em;
  display:block;
  line-height: 1.2em;
}

.checkautotraining .label-head{
  display:block;
  margin-bottom: 0.1em;
  font-size:0.9em;
  font-weight: 600;
}

.checkautotraining .radio-element{
  display:none;
}

.checkautotraining label:not(.selected):hover {
  -moz-box-shadow: 0 0 5px $color-grey; /*highlight-color*/
  -webkit-box-shadow: 0 0 5px $color-grey;
  box-shadow: 0 0 5px $color-grey;
  border-color: $color-grey;
}

.checkautotraining .selected{
  -moz-box-shadow: 0 0 5px $highlight-color; /*highlight-color*/
  -webkit-box-shadow: 0 0 5px $highlight-color;
  box-shadow: 0 0 5px $highlight-color;
  border-color: $highlight-color;
}

.checkautotraining .info-trainingsmodus{
  font-size: 1.2em;
  cursor: pointer;
}

//einzelne li-Elemente
.connectedSortable .ui-state-default{
  background-color: $secondary-color-dark!important;
}

.ui-state-default{
  border-radius: $std-border-radius!important;
}

.ui-sortable-handle {
  cursor: move; 
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.ui-sortable-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

// ************coach-nutzer-zusammenstellung Ende****************/

// *****************User-Detail-Seite***********************/
.prog-bar{
  background-color:$primary-color!important; // #367e91;
}

.prog-bar-container,
.prog-bar-container-lessons {
  background-color:$secondary-background!important; // #d8e6e8;
}

.user-detail-box{
  border: solid 1px $secondary-background; // #d8e6e8;
  border-radius: $std-border-radius!important;
}

.box-header{
  background-color:$secondary-background; // #d8e6e8;
}

.box-header h4{
  color: $info-font-color;
}
//*****************User-Detail-Seite Ende***********************/

.opacity-0{
  opacity: 0!important;
}
.opacity-1{
  opacity: 0.2!important;
}
.opacity-2{
  opacity: 0.4!important;
}
.opacity-3{
  opacity: 0.6!important;
}
.opacity-4{
  opacity: 0.8!important;
}
.opacity-5{
  opacity: 1!important;
}

@media screen and (max-width: 992px){
   .navbar ul li{
    font-size: 1.5em;
    padding: 0.5em 0.1em 0.5em 0.1em;
  }

  .navbar ul li a{
    color: inherit;
  }

  ul.navbar-nav,
  ul.navbar-nav .dropdown-menu{
    text-align: center!important;
  } 
  .welcome {
    padding-bottom: 10%; 
  }

  .navbar-toggle .icon-bar {
    position: relative;
    transition: all 300ms ease-in-out;
    display: block;
    height: 2px;
    width: 30px;
    margin-bottom: 5px;
    background-color: $navbar-toggle-button-color;
  }
      
  button.navbar-toggle {
    height: 3em;
  }
}

// Checks
.tspv2_check {
  @import 'style-checks.scss';
}