
.jolanda_check {
 
    .form-group .form-check {
        flex: unset!important;
        width: 30px!important;
        height: 30px!important;
        border-radius: 100%!important;
        border: solid 2px $highlight-color;
    }

    .form-group .form-check label{
        color: transparent!important;
        width: 100%;
    }

    .table td, .table th {
        border-top: unset;
    }

    @media (max-width: 767px) {
        
          td, 
          th,
          td h4,
          td h5,
          td h6, {
            display: block;
            clear: both;
            text-align: center!important;
          }

          td div{
              flex-direction: column;
          }

          .form-group .form-check {
            width: 50px!important;
            height: 50px!important;
        }

    }

}