// /*verschiedene Abstufungen der Auswertung verstecken*/
.orga0,
.orgarot,
.orgagelb,
.orgagrün,
.privatlebenrot,
.privatlebengelb,
.privatlebengrün,
.privatleben0,
.gestaltungrot,
.gestaltunggelb,
.gestaltunggrün,
.gestaltung0, 
.umgangrot,
.umganggelb,
.umganggrün,
.umgang0,
.umgebungrot,
.umgebunggelb,
.umgebunggrün,
.umgebung0,
.stressrot, 
.stressgelb, 
.stressgrün, 
.selbstkritikrot, 
.selbstkritikgelb,
.selbstkritikgrün,
.sorgenrot,
.sorgengelb,
.sorgengrün,
.sleepcarerot,
.sleepcaregelb,
.sleepcaregrün,
.sleepcarerot-schicht,
.sleepcaregelb-schicht,
.sleepcaregrün-schicht {
    display: none;
}

#ergebnis,
#fragen,
#headline-ergebnis,
.fragen-thema,
.feedback-area,
.generalinfo {
    display: none;
}

// /* Fragen */
.form-group label.ts-forms-label {
    font-size: 1.5em;
    margin-bottom: 1em;
}


// /*****************progress bar*********************/

#progbar {
    display: none;
    position: relative;
    background-color: $check-progress-color-light;
}

#progbar-inner {
    width: 0%;
    height: 26px;
    background-color: $check-progress-color-dark;
    z-index: -1;
}

#progbar-numb {
    z-index: 1;
    position: absolute;
}

// /*****************progress bar ende*********************/

// /***************** radio-button-design *********************/

.selected {
    background-color: $primary-color-dark;
    border-radius: 7px;
}

.selected label{
    color: $alt-font-white;
}

.form-group{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

// /*Die Label/Buttons der einzelnen Fragelisten*/
.form-group .form-check {
    font-size: 0.9em;
    margin-right: 15px;
    border: solid 1px;
    border-radius: 7px;
    float: left;
    padding-left: 0px;
    flex: 1 1 auto;
}

// /*Die Farbe für den Hover-Effekt:*/
.form-group .form-check:hover {
    background-color: $primary-color-light;
}

// /*Die Radio-Buttons ausblenden*/
.form-group .form-check input {
    display: none;
}

// /* letzte Antwortoption ohne rechten Abstand */
.form-group .form-check:last-child{
    margin-right: 0px;
}

// /*Antwortmöglichkeit: oberen Abstand von globaler CSS-Datei überschreiben*/
.form-group .form-check-label {
    text-align: center!important;
    font-size: 1.2em!important;
    display: table-cell;
    vertical-align: middle;
    padding: 8% !important;
    margin-bottom: 0% !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
}

// /******************* raio-button-design ENDE *******************/


// /*xs----iPhone*/
@media (max-width: 767px) {

    .form-group .form-check {
        width: 100%;
        margin-bottom: 1em;
        margin-right: 0px !important;
    }

    .form-check .form-check-label {
        padding: 6% !important;
    }
}

// /* Zusätzliche Styles für die Digi-Exist-Checks: */
@import 'style-checks_digiexist.scss';

// /* Zusätzliche Styles für den Jolanda-Check: */
@import 'style-checks_jolanda.scss';
  