// AOK
$primary-color: #3da562;

$primary-color-hover: darken( $primary-color, 10%);


$secondary-color:#99CC00; // #d2f2de; lighten($primary-color, 65%);

// accordeon background
$secondary-background:#edefef;/* #3da562; #99CC99;*/ // lighten($secondary-color,10%);

// orange color für exercise
$highlight-color: #FF9900;

//hover on hightlight
$dark-highlight-color: darken($highlight-color, 15%);

// background for exercices headline
$highlight-background: #ff9900; // lighten($highlight-color, 40%);

$ts-icon-background: $highlight-background;

// classes lastpage, minusbutton, hover on btn-secondary
$secondary-color-dark:#e4e5e5; /*#1d8141; /* darken( $secondary-background, 10%);*/ /*$primary-color;*/ // $secondary-color; darken( $secondary-color, 10%);

// class paging
$secondary-color-light: #f6f6f6; /* $secondary-background;*/
$paging-font-color: white;

// e.g. for h1 headline, menu-footer
$color-grey: #777;

// e.g. personarow at landingpage
$color-light-grey: #F2F2F2;

$info-font-color: #1d8141;
$exer-font-color: white;

$font-color-in-colored-box: #1d8141;

$link-color:$highlight-color; 
$link-hover-color: darken( $link-color, 10%);

$navbar-color: rgba(255,255,255,0.2);
$navbar-dropdown-bg-color: white;
$navbar-font-color: black;
$navbar-toggle-button-color: black;
$footer-color: $navbar-color;
$footer-font-color: $navbar-font-color;

$main-font-size: 1.2rem;
$main-font-familiy: Frutiger,Arial,Helvetica,sans-serif;

$std-border-radius: 0em;

//header img landing page:
$landingpage-header-img: url(../images/see.jpg);
$background-position-x: 30%;
$background-position-y: 0%;
$background-position-x-mobile: 62%;
$background-position-y-mobile: 30%;

// Checks:
// Progress::
$check-progress-color-dark: #339966;
$check-progress-color-light: #99CC99;

// Hover:
$primary-color-dark: $primary-color;
$primary-color-light: $primary-color;

// Alternative Background-Colors:
$alt-bg-light:lighten($secondary-color, 10%);
$alt-bg-dark: darken($secondary-color, 10%);

// Alternative Font-Colors:
$alt-font-light:rgb(232, 239, 241);
$alt-font-dark:rgb(27,83,95);
$alt-font-white: rgb(255, 255, 255);

// alerts:
$alert-info-bg-color: #b8d9f3;
$alert-info-border-color: #b8d9f3;
$alert-info-font-color: #15507e;