// DIGISOUNDS
$primary-color:#264f47;

// orange color für exercise
$highlight-color: #54BAAA;

$primary-color-hover: $highlight-color; //darken( $primary-color, 10%);

// accordeon background
$secondary-color:lighten($primary-color, 65%);

$secondary-background:#edefef;/* #3da562; #99CC99;*/ // lighten($secondary-color,10%);

//hover on hightlight
$dark-highlight-color: darken($highlight-color, 15%);

// background for exercices headline
$highlight-background: #54BAAA; // lighten($highlight-color, 40%);

$ts-icon-background: $highlight-background;

// classes lastpage, minusbutton, hover on btn-secondary
$secondary-color-dark:#e4e5e5; /*#1d8141; /* darken( $secondary-background, 10%);*/ /*$primary-color;*/ // $secondary-color; darken( $secondary-color, 10%);

// class paging
$secondary-color-light: #f6f6f6; /* $secondary-background;*/
$paging-font-color: black;


// e.g. for h1 headline, menu-footer
$color-grey: #777;

// e.g. personarow at landingpage
$color-light-grey: #F2F2F2;

$info-font-color: $primary-color;
$exer-font-color: white;

$font-color-in-colored-box: black;

$link-color: $highlight-color;
$link-hover-color: darken( $link-color, 10%);

$navbar-color: #264f47;
$navbar-dropdown-bg-color: $navbar-color; /* customizer 'header_bg_color' or $navbar-color is applied */
$navbar-font-color: white;
$navbar-toggle-button-color: $highlight-color;
$footer-color: $navbar-color;
$footer-font-color: $navbar-font-color;

$main-font-size: 1.2rem;
$main-font-familiy: "Open Sans", Arial, Helvetica, sans-serif;

$std-border-radius: 0.313em;

//header img landing page:
$landingpage-header-img: url(../images/regler.jpeg);
$background-position-x: 30%;
$background-position-y: 0%;
$background-position-x-mobile: 40%;
$background-position-y-mobile: 40%;

// Checks:
// Progress::
$check-progress-color-dark: $secondary-color-dark;
$check-progress-color-light: $secondary-color-light;

// Hover:
$primary-color-dark:#1b535f;
$primary-color-light: rgba(27,83,95,0.2);

// Alternative Background-Colors:
$alt-bg-light:rgba(146,185,192,0.6);
$alt-bg-dark: rgba(54,126,145,0.9);

// Alternative Font-Colors:
$alt-font-light:rgb(232, 239, 241);
$alt-font-dark:rgb(27,83,95);
$alt-font-white: rgb(255, 255, 255);

// alerts:
$alert-info-bg-color: #b8d9f3;
$alert-info-border-color: #b8d9f3;
$alert-info-font-color: #15507e;