// e-regiowerk
$primary-color:#00a6e7;

$primary-color-hover: #036e98;

// accordeon background
$secondary-color: #d4eefa;

$secondary-background: $secondary-color;

// orange color für exercise
$highlight-color: #db0050;

//hover on hightlight
$dark-highlight-color: darken($highlight-color, 15%);

// background for exercices headline
$highlight-background: #db00504f;

$ts-icon-background: $highlight-color;

// classes lastpage, minusbutton, hover on btn-secondary
$secondary-color-dark: darken( $secondary-color, 10%);

// class paging
$secondary-color-light: lighten($secondary-color, 5%);
$paging-font-color: black;


// e.g. for h1 headline, menu-footer
$color-grey: #777;

// e.g. personarow at landingpage
$color-light-grey: #F2F2F2;

$info-font-color: $primary-color;
$exer-font-color: $highlight-color;

$font-color-in-colored-box: black;

$link-color: $highlight-color;
$link-hover-color: darken( $link-color, 10%);

$navbar-dropdown-bg-color: white;
$navbar-color: rgba(255,255,255,0.2);
$navbar-font-color: black;
$navbar-toggle-button-color: $highlight-color;
$footer-color: $navbar-color;
$footer-font-color: $navbar-font-color;

$main-font-size: 1.2rem;
$main-font-familiy: Overpass, helvetica, arial, verdana;

$std-border-radius: 0.313em;

//header img landing page:
$landingpage-header-img: url(../images/regio-banner.jpg);
$background-position-x: 0%;
$background-position-y: 0%;
$background-position-x-mobile: 70%;
$background-position-y-mobile: 40%;

// Checks:
// Progress::
$check-progress-color-dark: $secondary-color-dark;
$check-progress-color-light: $secondary-color-light;

// Hover:
$primary-color-dark:#1b535f;
$primary-color-light: rgba(27,83,95,0.2);

// Alternative Background-Colors:
$alt-bg-light:rgba(146,185,192,0.6);
$alt-bg-dark: rgba(54,126,145,0.9);

// Alternative Font-Colors:
$alt-font-light:rgb(232, 239, 241);
$alt-font-dark:rgb(27,83,95);
$alt-font-white: rgb(255, 255, 255);

// alerts:
$alert-info-bg-color: #b8d9f3;
$alert-info-border-color: #b8d9f3;
$alert-info-font-color: #15507e;