// isleep
$primary-color:#0F368F;

$primary-color-hover: #062A6C; 

$secondary-color: #DDE6F8;

// accordeon background
$secondary-background: $secondary-color;

// orange color für exercise
$highlight-color: #FFB403;

//hover on hightlight
$dark-highlight-color: darken($highlight-color, 15%);

// background for exercices headline
$highlight-background: #FFB403;

$ts-icon-background: $highlight-color;


// classes lastpage, minusbutton, hover on btn-secondary
$secondary-color-dark: darken( $secondary-color, 10%); // unverändert

// class paging
$secondary-color-light: lighten($secondary-color, 5%); // unverändert
$paging-font-color: white;

// e.g. for h1 headline, menu-footer
$color-grey: #777;

// e.g. personarow at landingpage
$color-light-grey: #F2F2F2;

$info-font-color: #0A3177;
$exer-font-color: white;

$font-color-in-colored-box: #0A3177;

$link-color: $highlight-color;
$link-hover-color: darken( $link-color, 10%);

$navbar-dropdown-bg-color: white;
$navbar-color: hsla(228, 100%, 99%, 0.4);                      
$navbar-font-color: black;                                            
$navbar-toggle-button-color:$highlight-color;                       
$footer-color: $navbar-color;                       
$footer-font-color: $navbar-font-color;                       

$main-font-size: 1.2rem;
$main-font-familiy: Overpass, helvetica, arial, verdana;     // unverändert

$std-border-radius: 0.313em;

//header img landing page:
$landingpage-header-img: url(../images/strand.jpg); // unverändert
$background-position-x: 50%;
$background-position-y: 60%;
$background-position-x-mobile: 50%;
$background-position-y-mobile: 55%;

// Checks:
// Progress::
$check-progress-color-dark: #0A2971;
$check-progress-color-light: #4468BA;

// Hover:
$primary-color-dark:#1b535f;    // unverändert
$primary-color-light: #1b535f33;    // unverändert

// Alternative Background-Colors:
$alt-bg-light:#92b9c099;    // unverändert
$alt-bg-dark: #367e91e6;    // unverändert

// Alternative Font-Colors:
$alt-font-light:#e8eff1;    // unverändert
$alt-font-dark:#1b535f;     // unverändert
$alt-font-white: #ffffff;   // unverändert

// alerts:
$alert-info-bg-color: #b8d9f3;
$alert-info-border-color: #b8d9f3;
$alert-info-font-color: #15507e;