// JOLanDA
$primary-color:#377559;

// orange color für exercise
$highlight-color: #F7A517;

$primary-color-hover: $highlight-color; //darken( $primary-color, 10%);

$secondary-color:lighten($primary-color, 65%);

// accordeon background
$secondary-background:#fbce7e;/* #3da562; #5FC4E2;*/ // lighten($secondary-color,10%);

//hover on hightlight
$dark-highlight-color: darken($highlight-color, 15%);

// background for exercices headline
$highlight-background: #DAE8E3; // lighten($highlight-color, 40%);

$ts-icon-background: $highlight-color;

// classes lastpage, minusbutton, hover on btn-secondary
$secondary-color-dark: darken( $secondary-background, 10%); /*$primary-color;*/ // $secondary-color; darken( $secondary-color, 10%);

// class paging
$secondary-color-light: #fcce7d; /* $secondary-background;*/
$paging-font-color: black;


// e.g. for h1 headline, menu-footer
$color-grey: #113F2D;

// e.g. personarow at landingpage
$color-light-grey: #F2F2F2;

$info-font-color: $primary-color;
$exer-font-color: $primary-color;

$font-color-in-colored-box: #333333;

$link-color: $highlight-color;
$link-hover-color: $dark-highlight-color;

$navbar-color: #377559;
$navbar-dropdown-bg-color: $navbar-color; /* customizer 'header_bg_color' or $navbar-color is applied */
$navbar-font-color: white;
$navbar-toggle-button-color: $highlight-color;
$footer-color: $navbar-color;
$footer-font-color: $navbar-font-color;

$main-font-size: 1.2rem;
$main-font-familiy: "Open Sans", Arial, Helvetica, sans-serif;

$std-border-radius: 0.313em;

//header img landing page:
$landingpage-header-img: url(../images/Berufsorientierung-JOLanDA-Headerbild.png);
$background-position-x: 30%;
$background-position-y: 0%;
$background-position-x-mobile: 50%;
$background-position-y-mobile: 50%;

// Checks:
// Progress::
$check-progress-color-dark: $highlight-color;
$check-progress-color-light: $secondary-color-light;

// Hover:
$primary-color-dark: $primary-color-hover;
$primary-color-light: $primary-color-hover;

// Alternative Background-Colors:
$alt-bg-dark: rgba(54,126,145,0.9);
$alt-bg-light: #DAE8E3;

// Alternative Font-Colors:
$alt-font-light:rgb(232, 239, 241);
$alt-font-dark:rgb(27,83,95);
$alt-font-white: rgb(255, 255, 255);

// alerts:
$alert-info-bg-color: $highlight-background;
$alert-info-border-color: $highlight-background;
$alert-info-font-color: $color-grey;

/******************** TYPO ******************** /

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jolanda/open-sans-v28-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-500 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v28-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-500.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/jolanda/open-sans-v28-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/jolanda/open-sans-v28-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-800 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/jolanda/open-sans-v28-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jolanda/open-sans-v28-latin/open-sans-v28-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* Deco 1 */
  /* short-stack-regular - latin */
  @font-face {
    font-family: 'Short Stack';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jolanda/short-stack-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jolanda/short-stack-v15-latin/short-stack-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jolanda/short-stack-v15-latin/short-stack-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jolanda/short-stack-v15-latin/short-stack-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jolanda/short-stack-v15-latin/short-stack-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jolanda/short-stack-v15-latin/short-stack-v15-latin-regular.svg#ShortStack') format('svg'); /* Legacy iOS */
  }
  /* Deco 2 */
  /* delius-unicase-regular - latin */
  @font-face {
    font-family: 'Delius Unicase';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/delius-unicase-v26-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jolanda/delius-unicase-v26-latin/delius-unicase-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jolanda/delius-unicase-v26-latin/delius-unicase-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jolanda/delius-unicase-v26-latin/delius-unicase-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jolanda/delius-unicase-v26-latin/delius-unicase-v26-latin-regular') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jolanda/delius-unicase-v26-latin/delius-unicase-v26-latin-regular.svg#DeliusUnicase') format('svg'); /* Legacy iOS */
  }
  $font-main: 'Open Sans';
  $font-deco-1: 'Short Stack';
  $font-deco-2: 'Delius Unicase';

  .font-main{
       font-family: $font-main;
  }

  .font-deco-1{
       font-family: $font-deco-1;
  }

  .font-deco-2{
       font-family: $font-deco-2;
  }